<% provide(:title, "Contact") %>
	
<div class="center jumbotron">
	<h1>Melight Contacts</h1>
	<h2>
		Administrator - <a href="mailto: denys.vinegod@gmail.com?subject=Ruby courses">Email: Vinegod</a>
	</h2>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>