<% provide(:title, "Contact") %>

<h1>Sample app</h1>
<h2>Contact</h2>
<h2><a href="/">Home</a></h2>
<h2><a href="/static_pages/about">About</a></h2>
<h2><a href="/static_pages/help">Help</a></h2>
<p>
	Page created by Denys Vinegod for upgrading skils.
</p>